<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.divya.sprxs">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.NoIdeasActivity"></activity>
        <activity android:name=".activity.ChatDisplayActivity" />
        <activity android:name=".activity.InboxActivity" />
        <activity android:name=".activity.CreateIdeasActivity" />
        <activity android:name=".activity.MyIdeasActivity" />
        <activity
            android:name=".activity.HomeScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.TransferEquityActivity" />
        <activity android:name=".activity.EditMilestonesActivity" />
        <activity android:name=".activity.CreateMilestonesActivity" />
        <activity android:name=".activity.MyCollaborationsDetailsActivity" />
        <activity android:name=".activity.NoCollaboratorRequestActivity" />
        <activity android:name=".activity.CollaboratorRequestsActivity" />
        <activity android:name=".activity.MyCollaborationsActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity android:name=".activity.ContactUsActivity" />
        <activity android:name=".activity.MarketPlaceUserDetailsActivity" />
        <activity android:name=".activity.MarketPlaceActivity" />
        <activity android:name=".activity.RequestToCollaborateActivity" />
        <activity android:name=".activity.SearchIdeaDetailsActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.PublishIdeaActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.EditIdeaActivity" />
        <activity android:name=".activity.IdeaDetailsActivity" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBar" /> <!-- android:windowSoftInputMode="stateHidden|adjustResize" -->
        <activity
            android:name=".activity.MainActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>